In [7]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price,Test\n')
    f.write('NA,Pave,127500,23\n')
    f.write('2,NA,106000,34\n')
    f.write('4,NA,178100,2\n')
    f.write('NA,NA,140000,1\n')

In [8]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price  Test
0       NaN  Pave  127500    23
1       2.0   NaN  106000    34
2       4.0   NaN  178100     2
3       NaN   NaN  140000     1

In [10]:
missing_values = data.isnull().sum()
max_missing_col = missing_values.idxmax()
data = data.drop(max_missing_col, axis=1)
data

   NumRooms   Price  Test
0       NaN  127500    23
1       2.0  106000    34
2       4.0  178100     2
3       NaN  140000     1

In [11]:
inputs, outputs = data.iloc[:,:2], data.iloc[:,2]
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms   Price
0       3.0  127500
1       2.0  106000
2       4.0  178100
3       3.0  140000

In [5]:
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [12]:
import torch

X = torch.tensor(inputs.to_numpy(dtype=float))
y = torch.tensor(outputs.to_numpy(dtype=float))
X, y

(tensor([[3.0000e+00, 1.2750e+05],
         [2.0000e+00, 1.0600e+05],
         [4.0000e+00, 1.7810e+05],
         [3.0000e+00, 1.4000e+05]], dtype=torch.float64),
 tensor([23., 34.,  2.,  1.], dtype=torch.float64))